RewriteEngine On

RewriteBase /armor/

# Login
RewriteRule ^login/?$ login.php [L,QSA]

# Logout
RewriteRule ^logout/?$ logout.php [L,QSA]

# master route

RewriteRule ^category/?$ admin/master/category/list.php [L]
RewriteRule ^sub-category/?$ admin/master/sub-category/list.php [L]
RewriteRule ^department/?$ admin/master/department/list.php [L]
RewriteRule ^designation/?$ admin/master/designation/list.php [L]
RewriteRule ^tax/?$ admin/master/tax/list.php [L]
RewriteRule ^variant/?$ admin/master/variant/list.php [L]
RewriteRule ^unit/?$ admin/master/unit/list.php [L]
RewriteRule ^product/?$ admin/master/product/list.php [L]
RewriteRule ^product/add/?$ admin/master/product/form.php [L]
RewriteRule ^product/edit/([^/]+)/?$ admin/master/product/form.php?id=$1 [L]
RewriteRule ^followup-reason/?$ admin/master/followup-reason/list.php [L]
RewriteRule ^industry-type/?$ admin/master/industry-type/list.php [L]
RewriteRule ^company-type/?$ admin/master/company-type/list.php [L]
RewriteRule ^brand/?$ admin/master/brand/list.php [L]
RewriteRule ^country/?$ admin/submaster/country/list.php [L]
RewriteRule ^state/?$ admin/submaster/state/list.php [L]
RewriteRule ^city/?$ admin/submaster/city/list.php [L]
RewriteRule ^expense-category/?$ admin/submaster/expense-category/list.php [L]
RewriteRule ^leave-type/?$ admin/submaster/leave-type/list.php [L]
RewriteRule ^complain-category/?$ admin/submaster/complain-category/list.php [L]
RewriteRule ^complain-sub-category/?$ admin/submaster/complain-sub-category/list.php [L]
RewriteRule ^source-of-inquiry/?$ admin/submaster/source-of-inquiry/list.php [L]
RewriteRule ^transport-by/?$ admin/submaster/transport-by/list.php [L]
RewriteRule ^transporter-detail/?$ admin/submaster/transporter-detail/list.php [L]
RewriteRule ^dispatch-order-status/?$ admin/submaster/dispatch-order-status/list.php [L]
RewriteRule ^visit-purpose/?$ admin/submaster/visit-purpose/list.php [L]
RewriteRule ^terms-condition/?$ admin/submaster/terms-condition/list.php [L]
RewriteRule ^zone/?$ admin/submaster/zone/list.php [L]

# Module list
RewriteRule ^module/?$ admin/setting/module/list.php [L]

RewriteRule ^plan/?$ admin/setting/plan/list.php [L]
RewriteRule ^plan/add/?$ admin/setting/plan/form.php [L]
RewriteRule ^plan/edit/([^/]+)/?$ admin/setting/plan/form.php?id=$1 [L]

RewriteRule ^company/?$ admin/setting/company/list.php [L]
RewriteRule ^company/add/?$ admin/setting/company/form.php [L]
RewriteRule ^company/edit/([^/]+)/?$ admin/setting/company/form.php?id=$1 [L]

RewriteRule ^teamrole/?$ admin/setting/teamrole/list.php [L]
RewriteRule ^teamrole/setting/([^/]+)/?$ admin/setting/teamrole/setting.php?id=$1 [L]

RewriteRule ^team-person/?$ admin/setting/team-person/list.php [L]
RewriteRule ^team-person/add/?$ admin/setting/team-person/form.php [L]
RewriteRule ^team-person/edit/([^/]+)/?$ admin/setting/team-person/form.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]